:root {
    --color-accent: #00FFA4;
    --color-primary: #171E2E;
    --color-primary-light: rgb(27, 36, 56);
    --color-secondary: #313742;
    --font-color: #f4f4f6;
    --font-color-light: #A4AAb4;
    --border-color: #212836;
}